
html {
  background: #d54f83;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 2rem;
  width: 560px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  transform: translateZ(-100px);
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.main-text-container{
  font-size: 6rem;
  font-weight: 500;
  margin:0;
  position: relative;
  z-index: 0;
  transform: translateZ(-100px);
}

.page-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  transform: translateZ(-100px);
}

.header a:hover, .main-text a:hover, .page-title a:hover{
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 4rem;
  font-size: 24px;
}

.footer a:hover {
  opacity: 0.5;
}

.instagram-button, .softlab-button {
  position: fixed;
  transition: 0.2s;
  z-index: 5;
}

.instagram-button:hover, .softlab-button:hover {
  transform: scale(1.1);
}

.instagram-button {
  left: 30px;
  width: 75px;
}

.softlab-button{
  right: 30px;
}

.softlab-button img{
  width: 75px;
}

.hotvid-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.hotvid-gif {
  background-size: cover;
  z-index: 5;
}

.buy-button {
  background-color: black;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  border: none;
  margin: 20px 0 10px 0;
  padding: 0.9rem 1.2rem;
  cursor: pointer;
}

.buy-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buy-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}

#sold-out {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.75);
  cursor: not-allowed;
}

@media only screen and (max-width: 650px) {
  .header {
    font-size: 42px;
  }

  .instagram-button, .softlab-button {
    width: 45px;
  }
  
  .softlab-button img {
    width: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .hotvid-gif {
    position: fixed;
    width: 300px;
    height: 250px;
  }
}