
html {
  background: #d54f83;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.content {
  margin: 2rem auto;
  max-width: 400px;
}

.header {
  font-size: 74px;
  font-weight: 500;
  margin-bottom: 2rem;
  width: 560px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  transform: translateZ(-100px);
}

.header:hover{
  opacity: 0.5;
}

.link {
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.link:hover {
  border: 1px solid #97a981;
  color: #97a981;
}

.link img {
  width: 40px;
  margin-right: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.footer:hover {
  opacity: 0.5;
}

.instagram-button, .softlab-button {
  width: 75px;
  position: fixed;
  transition: 0.2s;
  z-index: 5;
}

.instagram-button:hover, .softlab-button:hover {
  transform: scale(1.1);
}

.softlab-button {
  right: 25px;
}

.softlab-button img {
  width: 75px;
}

.left {
  position: fixed;
  left: -30px;
  top: 0;
  height: 100vh;
}

.right {
  position: fixed;
  right: -30px;
  top: 0;
  height: 100vh;
}

.artwork {
  width: 500px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  transform: translateZ(-100px);
}

.artwork img {
  width: 100%;
}

.soundcloud-player {
  margin: 2rem auto;
  max-width: 600px;
}

.soundcloud-player iframe {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1441px) {
  .artwork {
    width: 400px;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    font-size: 45px;
  }

  .instagram-button, .softlab-button {
    width: 45px;
  }
  
  .softlab-button img {
    width: 45px;
  }
}